{% extends "blog/base.html" %}
{% block content %}
    <div class="row" style="margin-top: 100px">
    	<div class="col-sm-3"></div>
    	<div class="col-sm-6">
    		<div style="text-align: center;">
    			<h1 class="align-center titlefont">Comapny Information</h1>
    		</div>
		    <p>As the bloging is a trending medium to communicate mass amount people, the popular trend of blogging is going upwards in recent years.</p>
		  <p>The main issue with blogging is that if a blog is too long to read people not read that blog.
		<p>We have created a blogging site which not only post the blog but also summary of the blog, which save the time of the reader, if the summary of the blog is intresting then the reader will read the whole blog.</p>
		 <p> Hence, these innovative idea has very wide future scope.</p>
    	</div>
    	<div class="col-sm-3"></div>
    </div>
{% endblock content %}
